ul, li {
 list-style: none;
 padding: 0;
 margin: 0;
}
body {
    padding: 0;
    margin: 0;
    font-size: 14px;
    color: $base-font-color;
}

a {
    text-decoration: none;
    cursor: default;
    color: $base-font-color;
}