//base colors

$yellow: #fff44f;
$white: #fff;
$black: #000;

//ui elements colors

$primary-button-color: $yellow;
$base-font-color: $white;
$secondary-font-color: $black;

//animations

$animation: all 0.5s ease-out;
