<div class="user-container">
    <form [formGroup]="form" (ngSubmit)="submit()" class="search-user-form">
        <input type="text" formControlName="query" placeholder="Find your favourite TV-show" class="search-form-input">
        <button type="submit" class="search-form-button">
            <img src="assets/search-icon.svg" alt="Search" width="40" height="40">
        </button>
    </form>
</div>
    <app-movie-list *ngIf="movies.length" [movies]="movies" (openMoviePage)="openMoviePage($event)">
</app-movie-list>
<div *ngIf="movies.length" class="loadmore-btn-container"  >
    <button class="btn load-more-btn" (click)="loadMoreMovies()">Load More</button>
</div>
<div class="results" #results></div>

<app-movie-page 
    *ngIf="openPage" 
    [item]="movie" 
    [favouriteBtnText] = "favouriteBtnText"
    [selectedBtnText] = "selectedBtnText"
    [showDeleteBtn] = "false"
    [showSelectedBtn] = "true"
    [showFavouriteBtn] = "true"
    (closeWindow)="onClose()" >
</app-movie-page>

<ngx-loading-x [show]="load">
</ngx-loading-x>