<div class="user-container">
    <form [formGroup]="form" (ngSubmit)="submit()">
        <input type="text" formControlName="query" placeholder="Find your favourite TV-show" class="search-form-input">
        <button type="submit" class="search-form-button">
            <img src="assets/search-icon.svg" alt="Search" width="40" height="40">
        </button>
    </form>
</div>
<div class="search-results" *ngIf="movies.length">
    <div class="result-container">
        <div class="card-container" *ngFor="let movie of movies">
            <div class="movie-pic">
                <img *ngIf="movie.poster_path; else defaultImage"
                    src="https://image.tmdb.org/t/p/w342{{movie.poster_path}}" alt="{{movie.title}}">
            </div>
            <div class="movie-info">
                <h2 class="movie-info-title">{{movie.title}}</h2>
                <p class="movie-info-details">Release Date: {{movie.release_date | date}}</p>
                <p class="movie-info-details">Vote Average: {{movie.vote_average}}</p>
                <p class="movie-info-details">Original Language: {{movie.original_language | uppercase}}</p>
                <div class="button-container">
                    <a class="movie-btn" [routerLink]="['/movie', movie.id]" target="_blank">
                        <img src="assets/check-mark.svg" alt="details" width="25" height="25">
                        Show details</a>
                </div>
            </div>
        </div>
    </div>
    <div class="loadmore-btn-container">
        <button class="movie-btn" (click)="loadMoreMovies()">Load More</button>
    </div>
    <div *ngIf="zeroResult" class="noResBlock">
        <h3>There are no results on your search query</h3>
    </div>
</div>

<ng-template #defaultImage>
    <img src="assets/default-movie.jpg" alt="" srcset="">
</ng-template>