@import "../../../../styles/components/mixins.scss";
@import "../../../../styles/components/variables.scss";


.user-container {
  @include bg-image(url(../../../../assets/user-background.jpg));
  @include center-element;
  @include container;
  flex-direction: column;
  &-form {
    @include center-element;
    width: 100%;
    &-input {
      width: 80%;
      font-size: 1.2rem;
      background-color: transparent;
      border: none;
      outline: none;
      text-align: center;
      border-bottom: 1px solid $base-font-color;
    }
    &-button {
      border: none;
      outline: none;
      background-color: transparent;
      color: $base-font-color;
    }
  }
}
@media screen and(min-width: 768px) {
  .user-container-form-input {
    width: 50%;
  }
}
@media screen and(min-width: 1200px) {
  .user-container-form-input {
    width: 30%;
  }
}