<header class="homepage-header">
    <nav>
        <div class="logo-container">
            <a routerLink="/user" class="logo-link">
                <img src="assets/movie-logo.png" alt="logo" width="70" height="70" />
                Your Shows
            </a>
        </div>
        <div class="user-menu" *ngIf="auth.isAuthenticated() else homePage">
            <app-menu-list [menuList]="menuListItems"></app-menu-list>
            <button class="btn logout-btn" (click)="logOut($event)">Log Out</button>
        </div>
    </nav>
</header>

<ng-template #homePage>
    <div class="homepage-nav">
        <a 
            class="btn" 
            routerLink="/register">
            Sign Up</a>
        <a 
            class="btn" 
            routerLink="/login">
            Log In</a>
    </div>
        <mat-icon 
            *ngIf="!mobileMenu" 
            (click)="toggleMenu()">
        menu</mat-icon>
        <mat-icon 
            *ngIf="closeMenu" 
            (click)="toggleMenu()">
        close</mat-icon>
    <div class="mobile-menu" 
            *ngIf="mobileMenu" 
            [ngClass]="{
                showMenu: mobileMenu, 
                hideMenu: !mobileMenu
            }">
        <a 
            class="mobile-menu-item" 
            (click)="onRegister()">
            Sign Up</a>
        <a 
            class="mobile-menu-item" 
            (click)="onLogin()">
            Log In</a>
    </div>
</ng-template>