@import "../../../styles/components/variables.scss";

.homepage {
  &-header {
    width: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
  }
  &-nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
  }
  &-logo-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: 'Dancing Script', cursive;
    font-size: 1.5rem;
    padding: 20px 0px 20px 20px;
  }
  &-buttons {
    display: none;
  }
  &-mobile-menu {
    position: absolute;
    width: 100%;
    top: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
    &-item {
      color: $primary-button-color;
      display: block;
      padding-top: 20px;
      padding-bottom: 20px;
      font-size: 1.5rem;
    }
  }
  &-user-menu {
    padding-top: 20px;
    padding-right: 20px;
  }
}
.logout-btn {
  margin: 0 auto;
  margin-top: 10px;
}
.menu-mat-icon {
  width: 50px;
  height: 50px;
  font-size: 3rem;
  color: $primary-button-color;
  padding: 20px 20px 20px 0;
}
@media screen and(min-width: 768px) {
  .menu-mat-icon {
    display: none;
  }
  .homepage-buttons {
    display: flex;
    padding-right: 20px;
    justify-content: space-between;
    flex-basis: 40%;
  }
}
@media screen and(min-width: 1200px) {
  .homepage {
    &-buttons {
    flex-basis: 30%;
  }
  &-user-menu {
    display: flex;
    flex-basis: 60%;
    justify-content: space-between;
    padding-top: 0;
    padding-right: 40px;
  }
  &-logo-link {
    padding-left: 40px;
  }
  }
  .logout-btn {
    margin: 0;
  }
}
