<header class="homepage-header">
    <nav>
        <div class="logo-container">
            <a href="#" class="logo-link">
                <img src="assets/movie-logo.png" alt="logo" width="70" height="70" />
                Your Shows
            </a>
        </div>
        <app-menu-list *ngIf="auth.isAuthenticated()" [menuList]="menuListItems"></app-menu-list>
        <ul *ngIf="!auth.isAuthenticated()" class="homepage-nav">
            <a class="header-btn" routerLink="/register">Sing Up</a>
            <a class="header-btn" routerLink="/login">Log In</a>
        </ul>
        <button *ngIf="auth.isAuthenticated()" (click)="logOut()">Log Out</button>
    </nav>
</header>