<header class="homepage-header">
    <nav class="homepage-nav">
        <div class="homepage-logo">
            <a routerLink="/user" class="homepage-logo-link">
                <img src="assets/movie-logo.png" alt="logo" width="70" height="70" />
                Your Shows
            </a>
        </div>
        <div class="homepage-user-menu" *ngIf="auth.isAuthenticated(); else homePage">
            <app-menu-list [menuList]="menuListItems"></app-menu-list>
            <button class="btn logout-btn" (click)="logOut($event)">
                <mat-icon>exit_to_app</mat-icon>
                Log Out
            </button>
        </div>
    </nav>
</header>

<ng-template #homePage>
    <div class="homepage-buttons">
        <a class="btn" routerLink="/register"> Sign Up</a>
        <a class="btn" routerLink="/login"> Log In</a>
    </div>
    <mat-icon class="menu-mat-icon" *ngIf="!mobileMenu" (click)="toggleMenu()">
        menu</mat-icon>
    <mat-icon class="menu-mat-icon" *ngIf="closeMenu" (click)="toggleMenu()">
        close</mat-icon>
    <div class="homepage-mobile-menu" *ngIf="mobileMenu">
        <a class="homepage-mobile-menu-item" (click)="onRegister()"> Sign Up</a>
        <a class="homepage-mobile-menu-item" (click)="onLogin()"> Log In</a>
    </div>
</ng-template>