.user-nav {
    display: flex;
    font-size: 26px;
    li:not(:last-child) {
        margin-right: 40px;
    }
}
.active {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}