@import "../../../../styles/components/variables.scss";
@import "../../../../styles/components/mixins.scss";

@media screen and (max-width: 767px) {
  .container {
padding-top: 350px;
  }
  .nav-movies-list {
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 768px) {
  .container {
    padding-top: 250px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    padding-top: 150px;
  }
}

.container {
  @include container;
  background-color: $secondary-font-color;
  display: flex;
  flex-direction: column;
  .nav-movies-list {
    width: 100%;
    display: flex;
    background-color: rgba(168, 144, 9, 0.5);
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.6) inset;
    justify-content: space-around;
    li {     
      font-size: 22px;
      color: #000;
      cursor: pointer;
      padding: 20px 40px;
      transition: $animation;
      &:hover,
      &:focus {
        transition: $animation;
        color: $base-font-color;
        font-weight: 700;
      }
    }
    .active {
      color: $base-font-color;
      font-weight: 700;
    }
    
  }
}
