.alert-container {
  width: 300px;
  height: 100px;
  padding: 30px;
  display: flex;
  font-size: 20px;
  line-height: 1.5;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  position: fixed;
  top: 10%;
  right: 10%;
  z-index: 100;
  color: #fff;
}
.alert-danger {
  background-color: rgba(107, 7, 7, 0.8);
}
.alert-success {
  background-color: rgba(9, 88, 26, 0.8);
}
.alert-warning {
  background-color: rgba(129, 100, 4, 0.8);
}
