.alert-container {
  width: 300px;
  height: 100px;
  padding: 30px;
  display: flex;
  font-size: 20px;
  line-height: 1.5;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  position: fixed;
  top: 15%;
  right: 15%;
  background-color: rgb(223, 226, 32);
  color: #000;
  z-index: 100;
}
