@import "../../../../styles/components/mixins.scss";

.container {
  @include container;
  background-color: #000;
  padding-top: 138px;
}
.no-results-container {
  text-align: center;
  width: 100%;
  color: #fff44f;
  font-size: 40px;
}