<div class="container">
    <app-movie-list [movies]="movies" (openMoviePage)="openModal($event)"></app-movie-list>
    <div class="no-results-container" *ngIf="noResults">
        <p>
            You haven't added movies here yet.<br />
            You can find intresting movies in <a routerLink="/movies">Movies page</a>.
        </p>
        <img src="assets/no-results.jpeg" alt="No results" />
    </div>
</div>

<app-movie-page *ngIf="showModal" [selectedBtnText]="selectedBtnText" [deleteBtnText]="deleteBtnText"
    [showDeleteBtn]="true" [showSelectedBtn]="true" [showFavouriteBtn]="false" [item]="movie"
    (deleteItem)="onDelete($event)" (closeWindow)="onClose()"></app-movie-page>

<ngx-loading-x [show]="load"> </ngx-loading-x>