<div class="login-container">
    <form [formGroup]="form" class="login-form" (ngSubmit)="submit()">
        <div class="form-control">
            <input type="email" formControlName="email" placeholder="Enter your email adress" [ngClass]="{
            invalid: form.get('email')?.invalid && form.get('email')?.touched
        }" />
            <div *ngIf="form.get('email')?.invalid && form.get('email')?.touched">
                <div *ngIf="form.get('email')?.hasError('required')">Required</div>
                <div *ngIf="form.get('email')?.hasError('email')">Some Error</div>
            </div>
        </div>
        <div class="form-control">
            <input type="password" formControlName="password"
                placeholder="Enter your password (at least 6 characters)" />
        </div>
        <button type="submit" [disabled]="form.invalid" class="btn">Submit</button>
    </form>
</div>