.search-results {
  width: 100%;
  background-color: rgb(0, 0, 0);
  padding-top: 50px;
  padding-bottom: 50px;

  .result-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    .movie-pic {
      flex-basis: 50%;
    }

    .movie-info {
      flex-basis: 50%;
      padding: 20px;

      .movie-info-title {
        margin-bottom: 30px;
      }

      .movie-info-details {
        margin-bottom: 20px;
      }
    }
  }
}

.card-container {
  display: flex;
  flex-direction: column;
  flex-basis: 80%;
  margin-bottom: 50px;
  background-color: #000;
  box-shadow: 0px 5px 10px 2px rgba(168, 144, 9, 0.5) inset;
  transition: all 0.5s ease-out;
  cursor: pointer;

  .movie-pic {
    flex-basis: 50%;

    img {
      width: 100%;
    }
  }

  &:hover {
    transition: all 0.5s ease-out;
    transform: scale(1.1);
  }
}

@media screen and (min-width: 768px) {
  .card-container {
    flex-basis: 48%;
    flex-direction: row;
  }
}

@media screen and (min-width: 1200px) {
  .card-container {
    flex-basis: 30%;
  }
}

.button-container {
  display: flex;
  flex-direction: column;
}
