@import "../../../styles/components/variables.scss";

.results {
  background-color: $secondary-font-color;
  margin: 0 auto;
  padding: 40px 20px;
  &-card {
  &-container {
    box-shadow: 0px 5px 10px 2px rgba(168, 144, 9, 0.5) inset;
      margin-bottom: 40px;
    &-image {
      img {
      display: block;
      object-fit: cover;
      width: 100%;
      }
    }
  &-info {
    padding: 20px;
    height: 150px;
    &-title {
      color: $primary-button-color;
      font-size: 1.5rem;
    }
    &-details {
      line-height: 1.5;
    }
  }
  }
}

.button-container {
  padding: 20px;
}
  &-btn {
    margin: 0 auto;
  }
}

@media screen and(min-width: 768px) {
  .results {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    &-card-container {
      flex-basis: 45%;
    }
  }
}
@media screen and(min-width: 1200px) {
  .results-card-container {
    flex-basis: 22%;
  }
}