<div class="movie-page-container">
    <div class="movie-page-info" style="background-image:linear-gradient(
      to right,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ), url(https://image.tmdb.org/t/p/original{{item.backdrop_path}})">
        <div class="movie-title">
            <h1>{{item.title}}</h1>
            <div class="adult-block" *ngIf="item.adult">
                <img src="assets/adult-sign.svg" alt="adult" width="30" height="30">
            </div>
            <small>{{item.tagline}}</small>
            <button class="close-icon-container" (click)="onCloseInfo()">
                <img src="assets/close-icon.svg" alt="" width="60" height="60">
            </button>
        </div>
        <div class="movie-details-info">
            <div>
                <p>
                    <strong>
                        Release Date: </strong>
                    <span>{{item.release_date | date}}</span>
                </p>
                <p>
                    <strong>
                        Vote Average: </strong>
                    <span>{{item.vote_average}}</span>
                </p>
                <p>
                    <strong>
                        Vote Count: </strong>
                    <span>{{item.vote_count}}</span>
                </p>
                <p>
                    <strong>
                        Genre:
                    </strong>
                    <span *ngFor="let genre of item.genres">
                        &#10003; {{genre.name}}&nbsp;
                    </span>
                </p>
                <p>
                    <strong>
                        Spoken languages: </strong>
                    <span *ngFor="let language of item.spoken_languages">
                        &#10003; {{language.name}}&nbsp;
                    </span>
                </p>
                <p>
                    <strong>
                        Production Countries: </strong>
                    <span *ngFor="let country of item.production_countries">
                        {{country.name}}&nbsp;
                    </span>
                </p>
                <p *ngIf="item.budget">
                    <strong>
                        Budget: </strong>
                    <span>{{item.budget | movieBudget}}</span>
                </p>
                <p>
                    <strong>
                        Status: </strong>
                    <span>{{item.status}}</span>
                </p>
                <p>
                    <strong>
                        Runtime: </strong>
                    <span>{{item.runtime}} min</span>
                </p>
            </div>
            <div class="movie-overview">
                <p>{{item.overview}}</p>
                <div class="button-container">
                    <button 
                        class="btn page-btn" 
                        *ngIf="showFavouriteBtn"
                        (click)="addToFavourite(item)"
                        >
                        <img src="assets/liked-icon.svg" alt="Like">
                        {{favouriteBtnText}}</button>
                    <button 
                        class="btn page-btn" 
                        *ngIf="showSelectedBtn"
                        (click)="addToSelected(item)">
                        <img src="assets/selected-icon.svg" alt="Selected">
                        {{selectedBtnText}}</button>
                    <button 
                        class="btn page-btn" 
                        *ngIf="showDeleteBtn"
                        (click)="deleteMovie(item)">
                            <img src="assets/delete-icon.svg" alt="Deleted">
                            {{deleteBtnText}}</button>
                </div>
            </div>
        </div>
    </div>
</div>