@import "../../../../styles/components/mixins.scss";
@import "../../../../styles/components/variables.scss";

.movie-page-container {
  @include center-element;
  @include container;
  @include fixed-element;
  background-color: rgba(0, 0, 0, 0.7);
  transition: $animation;
  z-index: 111;
  .close-icon-container {
    @include center-element;
    width: 70px;
    height: 70px;
    border: 2px solid $base-font-color;
    border-radius: 50%;
    position: absolute;
    top: -35px;
    right: -35px;
    z-index: 10;
    background-color: $secondary-font-color;
    cursor: pointer;
    transition: $animation;
    &:hover {
      transition: $animation;
      opacity: 0.6;
    }
  }
  .movie-page-info {
    transition: $animation;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 22px;
    width: 70%;
    border-radius: 5px;
    height: auto;
    position: relative;
    box-shadow: 0px 5px 10px 2px rgba(168, 144, 9, 0.5) inset;
    padding: 50px;
    .movie-title {
      text-align: center;
      margin-bottom: 20px;
      h1 {
        margin-right: 10px;
        font-size: 40px;
      }
    }
    .movie-details-info {
      display: flex;
      font-size: 20px;
      line-height: 1.2;
      color: $primary-button-color;
      p {
        span {
          font-size: 20px;
          color: $base-font-color;
        }
        &:not(:last-child) {
          margin-bottom: 10px;
        }
      }
    }
    .movie-overview {
      flex-basis: 65%;
      p {
        @include scroll;
        text-align: justify;
        height: 200px;
        padding: 10px;
        color: $base-font-color;
      }
    }
  }
}
.page-btn {
  padding: 10px;
}
 
.button-container {
  display: flex;
  justify-content: space-around;
  width: 90%;
}
@media screen and (max-width: 767px) {
  .movie-details-info {
    flex-direction: column;
  }
}
@media screen and (max-width: 480px) {
  .movie-overview p {
    display: none;
  }
  .button-container {
    flex-direction: column;
    margin-top: 20px;
    .movie-btn:last-child {
      margin-left: 0;
      margin-top: 20px;
    }
  }
}

@media screen and(min-width: 768px) {
  .movie-page-info {
    width: 90%;
  }
  
}