@import "../../../../styles/components/mixins.scss";
@import "../../../../styles/components/variables.scss";

.page-container {
  @include center-element;
  @include container;
  @include fixed-element;
  background-color: rgba(0, 0, 0, 0.7);
  transition: $animation;
  z-index: 111;
  &-card {
    width: 100%;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 20px;
    font-size: 1.3rem;
    line-height: 1.5;
    border-radius: 5px;
    box-shadow: 0px 5px 10px 2px rgba(168, 144, 9, 0.5) inset;
    &-overview>p {
      display: none;
    }
    &-title>h1 {
      color: $primary-button-color;
    }
    &-info strong {
        color: $primary-button-color;
    }
  }
  }
  .close-icon-container {
    @include center-element;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border: 1px solid $base-font-color;
    border-radius: 50%;
    color: $base-font-color;
    cursor: pointer;
    transition: $animation;
    &:hover {
      opacity: 0.5;
      transition: $animation;
    }
  }
  .button-container {
    margin-top: 20px;
  }
  .page-btn {
    width: 200px;
    height: 60px;
    margin: 0 auto;
    &:first-child {
      margin-bottom: 20px;
    }
  }
@media screen and(min-width: 768px) {
  .page-container-card {
  display: flex;
  &-overview {
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    &>p {
    display: block;
    overflow-y: scroll;
  }
}
  &-title {
    flex-basis: 40%;
  }
  .button-container {
    margin-top: 0;
  }
  }
}
@media screen and(min-width: 1200px) {
  .page-container-card {
    width: 60%;
    padding-left: 40px;
    padding-right: 40px;
  }
  .button-container {
    display: flex;
  }
}