.logo-container {
    width: 120px;
text-align: center;
font-family: 'Dancing Script', cursive;
font-size: 25px;
color: #fff;
}
.logo-link {
    text-decoration: none;
display: flex;
align-items: center;
flex-direction: column;
color: #fff;

}